.background_place{
    background-color:rgb(219, 221, 223);
    height: 100%;
    padding: 10px;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
}